[Unit]
Description=ngrok
After=network.target

[Service]
ExecStart=ngrok start --config=/home/<your_user>/.config/ngrok/ngrok.yml ssh-access # change with <your_user>
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
