#!/usr/bin/python3

import requests
import re
import urllib

# global variable
tg_token     = ""
tg_message = ""

tg_format  = "HTML" # Markdown / HTML, default=Markdown but html more smooth than markdown
headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "User-Agent": "Mozilla/5.0 (Linux; Android 5.0; SAMSUNG-SM-N900A Build/LRX21V)",
}

if (len(tg_token + tg_message) == 0):
    print(f"Please add telegram token & message id")
    exit()
else:
    pass

def getPort():
    global hostname, port
    f = open('/var/log/ngrok/ngrok.log', 'r')
    ngrok_port = re.findall("\d.tcp.\w\w.ngrok.io:.{5}", f.read(), re.DOTALL)[-1] # Regex for find ngrok.io pattern the last list
    hostname, port = ngrok_port.split(":") # separate hostname and port  (:) 0.tcp.ap.ngrok.io:11466
    return hostname, port

def sendMessages():
    messages = f"""New Tunnel: ✅
<code>ssh {hostname} -p {port}</code> """
    url_encode = urllib.parse.quote_plus(str(messages))
    print("Send this messages to telegram\n",messages)
    response = requests.post(f"https://api.telegram.org/bot{tg_token}/sendMessage?chat_id={tg_message}&text={url_encode}&parse_mode={tg_format}", headers=headers)
    print(response.text)


if __name__ == "__main__":
    getPort()
    sendMessages()
