[Unit]
Description=Service for listening ngrok service
# disable this service if ngrok got stop
BindsTo=ngrok.service
# waits to be started before this service is started
After=ngrok.service

[Service]
Type=oneshot
# Wait 2 seconds before the unit starts.
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/python3 /home/<user>/workdir/development/python/main.py # change script file
RemainAfterExit=yes

[Install]
# when service is enable, forces this service to start when ngrok is started
WantedBy=ngrok.service
